{% extends 'base.html' %}
{% block content %} 

<p>
<h3>
ＢＵＮ☆ＴＡＮについてのいくつかのメモ。
</h3>
<p style="line-height: 1.2em;">
google app engine/pythonを利用して提供されています。<br>
evernoteAPIを利用した便利なWebサービスが増えて欲しいと思い、拙いコードですが<br>
ソースコードをMITライセンスにて、githubにて公開しています（apikeyなど、一部のコードを公開用に変更しています）。<br>
ご自由にご利用ください。
</p>


<h3>
  thanks to
</h3>

<div style="text-align:left;">
  <ul>
    <li> <a href="http://oauth.googlecode.com/svn/code/python/"> Leah Culver </a> (改変して使用させて頂いてる、oauth.pyの作者さん)</li>
    <li> <a href="http://hp.vector.co.jp/authors/VA039499/"> ふい </a> (利用させていただいているフォント作者さん) </li>  
  </ul>

</div></p>  {% endblock content %}
